   .background-container {
    ion-content {
      --ion-background-color: #ffffff;           
    }
    position: fixed;
    top: 13%;
    left: 8%;
    width: 85%;
    height: 80%;
    background-image: url('../../assets/icon/logo_banco_de_leche.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: -1;
  }

.custom-card {
    background-color: #01a9a3; /* Light blue color */
    border-radius: 10%;
    width: 100px; /* Adjust the width as needed */
    height: 60px; /* Adjust the height as needed */
    margin: 20px auto; /* Center the card and add some margin */
    position: relative;
    top: 10px;
    left: -440px;
    font-size: 15px;
    font-family: 'Arial Black',sans-serif;
  }
  .custom-card1 {
    background-color: #01a9a3; /* Light blue color */
    border-radius: 6%;
    width: 300px; /* Adjust the width as needed */
    height: 60px; /* Adjust the height as needed */
    margin: 20px auto; /* Center the card and add some margin */
    position: relative;
    top: -70px;
    left: -230px;
    font-size: 23px;
    font-family: 'Arial Black',sans-serif;
  }
  .custom-card2 {
    background-color: #01a9a3; /* Light blue color */
    border-radius: 10%;
    width: 230px; /* Adjust the width as needed */
    height: 60px; /* Adjust the height as needed */
    margin: 20px auto; /* Center the card and add some margin */
    position: relative;
    top: -150px;
    left: 45px;
    font-size: 23px;
    font-family: 'Arial Black',sans-serif;
  }
  .custom-card3 {
    background-color: #01a9a3; /* Light blue color */
    border-radius: 10%;
    width: 230px; /* Adjust the width as needed */
    height: 60px; /* Adjust the height as needed */
    margin: 20px auto; /* Center the card and add some margin */
    position: relative;
    top:   -230px;
    left: 280px;
    font-size: 23px;
    font-family: 'Arial Black',sans-serif;
  }
  .custom-card4 {
    background-color: #01a9a3; /* Light blue color */
    border-radius: 10%;
    width: 100px; /* Adjust the width as needed */
    height: 60px; /* Adjust the height as needed */
    margin: 20px auto; /* Center the card and add some margin */
    position: relative;
    top: -310px;
    left: 450px;
    font-size: 23px;
    font-family: 'Arial Black',sans-serif;
  }

  .custom-button {
    background-color: #fad000;
    color: #fff ;
    width: 235px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    margin: 10px; /* Add some margin */
    position: relative;
    top: -320px; /* Adjust the top position as needed */
    left: 420px; /* Adjust the left position as needed */
    font-size: 18px;
    font-family: 'Arial Black',sans-serif;
  } 
  .custom-button1 {
   background-color: #fff;
   color:#fad000;
    width: 235px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    margin: 10px; /* Add some margin */
    position: relative;
    top: -320px; /* Adjust the top position as needed */
    left: 405px; /* Adjust the left position as needed */
    border: 5px solid #fff700;
    font-size: 18px;
    font-family: 'Arial Black',sans-serif;
  } 
  .custom-button3 {
    background-color: #fad000;
    color: #fff ;
    width: 235px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    margin: 10px; /* Add some margin */
    position: relative;
    top: -260px; /* Adjust the top position as needed */
    left: -90px; /* Adjust the left position as needed */
    font-size: 18px;
    font-family: 'Arial Black',sans-serif;
  } 
  .custom-button4 {
    background-color: #fff;
    color:#fad000;
     width: 235px; /* Adjust the width as needed */
     height: 50px; /* Adjust the height as needed */
     margin: 10px; /* Add some margin */
     position: relative;
     top: -335px; /* Adjust the top position as needed */
     left: 660px; /* Adjust the left position as needed */
     border: 5px solid #fff700;
     font-size: 18px;
     font-family: 'Arial Black',sans-serif;
   } 
   .custom-button2 {
    background-color: #d11515;
    color: #fff ;
    width: 85px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    margin: 10px; /* Add some margin */
    position: relative;
    top: -395px; /* Adjust the top position as needed */
    left: 648px; /* Adjust the left position as needed */
    font-size: 18px;
    font-family: 'Arial Black',sans-serif;
   }
   .custom-button5 {
    background-color: #d11515;
    color: #fff ;
    width: 85px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    margin: 10px; /* Add some margin */
    position: relative;
    top: -335px; /* Adjust the top position as needed */
    left: 543px; /* Adjust the left position as needed */
    font-size: 18px;
    font-family: 'Arial Black',sans-serif;
   }
   .custom-cardJuridoco {
    background-color: #22cf16; /* Light blue color */
    border-radius: 6%;
    width: 300px; /* Adjust the width as needed */
    height: 60px; /* Adjust the height as needed */
    margin: 20px auto; /* Center the card and add some margin */
    position: relative;
    top: -470px;
    left: -230px;
    font-size: 23px;
    font-family: 'Arial Black',sans-serif;
  } 
  .custom-button-juridico {
    background-color: #fad000;
    color: #fff ;
    width: 235px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    margin: 10px; /* Add some margin */
    position: relative;
    top: -490px; /* Adjust the top position as needed */
    left: 420px; /* Adjust the left position as needed */
    font-size: 18px;
    font-family: 'Arial Black',sans-serif;
  } 
  .custom-button1-juridico {
    background-color: #fff;
    color:#fad000;
    width: 235px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    margin: 10px; /* Add some margin */
    position: relative;
    top: -490px; /* Adjust the top position as needed */
    left: 405px; /* Adjust the left position as needed */
    border: 5px solid #fff700;
    font-size: 18px;
    font-family: 'Arial Black',sans-serif;
  } 
  .custom-button3-juridico {
    background-color: #fad000;
    color: #fff ;
    width: 235px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    margin: 10px; /* Add some margin */
    position: relative;
    top: -430px; /* Adjust the top position as needed */
    left: -90px; /* Adjust the left position as needed */
    font-size: 18px;
    font-family: 'Arial Black',sans-serif;
  } 
  .custom-button4-juridico {
    background-color: #fff;
    color:#fad000;
    width: 235px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    margin: 10px; /* Add some margin */
    position: relative;
    top: -505px; /* Adjust the top position as needed */
    left: 660px; /* Adjust the left position as needed */
    border: 5px solid #fff700;
    font-size: 18px;
    font-family: 'Arial Black',sans-serif;
  }
  .custom-button2-juridico {
    background-color: #d11515;
    color: #fff ;
    width: 85px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    margin: 10px; /* Add some margin */
    position: relative;
    top: -565px; /* Adjust the top position as needed */
    left: 648px; /* Adjust the left position as needed */
    font-size: 18px;
    font-family: 'Arial Black',sans-serif;
  }
  .custom-button5-juridico {
    background-color: #d11515;
    color: #fff ;
    width: 85px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    margin: 10px; /* Add some margin */
    position: relative;
    top: -505px; /* Adjust the top position as needed */
    left: 543px; /* Adjust the left position as needed */
    font-size: 18px;
    font-family: 'Arial Black',sans-serif;
  }
  
.table-container {
  width: 100%; /* Ajusta el ancho según sea necesario */
  max-width: 400px; /* Ajusta el ancho máximo según sea necesario */
  margin: 0 auto; /* Centra la tabla horizontalmente */
  position: relative;
  top: -480px;
  left: -290px;
}

table {
  width: 100%; /* Ajusta el ancho de la tabla */
  border-collapse: collapse;
  margin: 20px 0;
}

table, th, td {
  border: 1px solid white;
}

th, td {
  padding: 10px;
  text-align: left;
}
th:first-child, td:first-child {
  width:  120px;
}
th:nth-child(2), td:nth-child(2) {
  width:  400px;
}
.table-container-juridico {
  width: 100%; /* Ajusta el ancho según sea necesario */
  max-width: 400px; /* Ajusta el ancho máximo según sea necesario */
  margin: 0 auto; /* Centra la tabla horizontalmente */
  position: relative;
  top: -650px;
  left: -290px;
}

table {
  width: 100%; /* Ajusta el ancho de la tabla */
  border-collapse: collapse;
  margin: 20px 0;
}

table, th, td {
  border: 1px solid white;
}
th, td {
  padding: 10px;
  text-align: left;
}

th:first-child, td:first-child {
  width: 120px;
}

th:nth-child(2), td:nth-child(2) {
  width: 400px;
}
.custom-cardEngorde {
  background-color: #066c74; /* Light blue color */
  border-radius: 6%;
  width: 300px; /* Adjust the width as needed */
  height: 60px; /* Adjust the height as needed */
  margin: 20px auto; /* Center the card and add some margin */
  position: relative;
  top: -630px;
  left: -230px;
  font-size: 23px;
  font-family: 'Arial Black',sans-serif;
}
.custom-button-engorde {
  background-color: #fad000;
  color: #fff ;
  width: 235px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  margin: 10px; /* Add some margin */
  position: relative;
  top: -640px; /* Adjust the top position as needed */
  left: 420px; /* Adjust the left position as needed */
  font-size: 18px;
  font-family: 'Arial Black',sans-serif;
} 
.custom-button1-engorde {
  background-color: #fff;
  color:#fad000;
  width: 235px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  margin: 10px; /* Add some margin */
  position: relative;
  top: -640px; /* Adjust the top position as needed */
  left: 405px; /* Adjust the left position as needed */
  border: 5px solid #fff700;
  font-size: 18px;
  font-family: 'Arial Black',sans-serif;
} 
.custom-button3-engorde {
  background-color: #fad000;
  color: #fff ;
  width: 235px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  margin: 10px; /* Add some margin */
  position: relative;
  top: -580px; /* Adjust the top position as needed */
  left: -90px; /* Adjust the left position as needed */
  font-size: 18px;
  font-family: 'Arial Black',sans-serif;
} 
.custom-button4-engorde {
  background-color: #fff;
  color:#fad000;
  width: 235px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  margin: 10px; /* Add some margin */
  position: relative;
  top: -655px; /* Adjust the top position as needed */
  left: 660px; /* Adjust the left position as needed */
  border: 5px solid #fff700;
  font-size: 18px;
  font-family: 'Arial Black',sans-serif;
} 
.custom-button2-engorde {
  background-color: #d11515;
  color: #fff ;
  width: 85px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  margin: 10px; /* Add some margin */
  position: relative;
  top: -715px; /* Adjust the top position as needed */
  left: 648px; /* Adjust the left position as needed */
  font-size: 18px;
  font-family: 'Arial Black',sans-serif;
}
.custom-button5-engorde {
  background-color: #d11515;
  color: #fff ;
  width: 85px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  margin: 10px; /* Add some margin */
  position: relative;
  top: -655px; /* Adjust the top position as needed */
  left: 543px; /* Adjust the left position as needed */
  font-size: 18px;
}

.table-container-engorde {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  top: -800px;
  left: -290px;
}.custom-cardIntermedio {
  background-color: #a25008; /* Light blue color */
  border-radius: 6%;
  width: 300px; /* Adjust the width as needed */
  height: 60px; /* Adjust the height as needed */
  margin: 20px auto; /* Center the card and add some margin */
  position: relative;
  top: -790px;
  left: -230px;
  font-size: 23px;
  font-family: 'Arial Black',sans-serif;
}
.custom-button-intermedio {
  background-color: #fad000;
  color: #fff ;
  width: 235px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  margin: 10px; /* Add some margin */
  position: relative;
  top: -800px; /* Adjust the top position as needed */
  left: 420px; /* Adjust the left position as needed */
  font-size: 18px;
  font-family: 'Arial Black',sans-serif;
} 

.custom-button1-intermedio {
  background-color: #fff;
  color:#fad000;
  width: 235px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  margin: 10px; /* Add some margin */
  position: relative;
  top: -800px; /* Adjust the top position as needed */
  left: 405px; /* Adjust the left position as needed */
  border: 5px solid #fff700;
  font-size: 18px;
  font-family: 'Arial Black',sans-serif;
} 

.custom-button3-intermedio {
  background-color: #fad000;
  color: #fff ;
  width: 235px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  margin: 10px; /* Add some margin */
  position: relative;
  top: -740px; /* Adjust the top position as needed */
  left: -90px; /* Adjust the left position as needed */
  font-size: 18px;
  font-family: 'Arial Black',sans-serif;
} 

.custom-button4-intermedio {
  background-color: #fff;
  color:#fad000;
  width: 235px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  margin: 10px; /* Add some margin */
  position: relative;
  top: -815px; /* Adjust the top position as needed */
  left: 660px; /* Adjust the left position as needed */
  border: 5px solid #fff700;
  font-size: 18px;
  font-family: 'Arial Black',sans-serif;
} 

.custom-button2-intermedio {
  background-color: #d11515;
  color: #fff ;
  width: 85px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  margin: 10px; /* Add some margin */
  position: relative;
  top: -875px; /* Adjust the top position as needed */
  left: 648px; /* Adjust the left position as needed */
  font-size: 18px;
  font-family: 'Arial Black',sans-serif;
}

.custom-button5-intermedio {
  background-color: #d11515;
  color: #fff ;
  width: 85px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  margin: 10px; /* Add some margin */
  position: relative;
  top: -815px; /* Adjust the top position as needed */
  left: 543px; /* Adjust the left position as needed */
  font-size: 18px;
}

.table-container-intermedio {
  width: 100%; /* Ajusta el ancho según sea necesario */
  max-width: 400px; /* Ajusta el ancho máximo según sea necesario */
  margin: 0 auto; /* Centra la tabla horizontalmente */
  position: relative;
  top: -960px;
  left: -290px;
}