<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dispensacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="background-container"></div>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dispensacion</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<style>
  .background-container {
    position: fixed;
    top: 13%;
    left: 8%;
    width: 85%;
    height: 80%;
    background-image: url('../../assets/icon/logo_banco_de_leche.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -1;
  }
</style>
