/* Estilos generales */
.background-container {
    position: fixed;
    top: 13%;
    left: 8%;
    width: 85%;
    height: 80%;
    background-image: url('../../assets/icon/logo_banco_de_leche.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: -1;
  }
  
  /* Estilos para tarjetas */
  .custom-card{
    background-color: #01a9a3; /* Color de fondo */
    border-radius: 10px; /* Bordes redondeados */
    width: 200px; /* Ancho aumentado */
    height: 100px; /* Alto aumentado */
    margin: 30px auto; /* Centrado y margen */
    font-size: 30px; /* Tamaño de fuente aumentado */
    font-family: 'Arial Black', sans-serif;
    text-align: center; /* Texto centrado */
    display: flex;
    align-items: center;
    justify-content: center;
    left: -620px;
  }
  .content-container
  {
    margin-top: 100px;
  }
  .seccion-movible {
    margin-top: -2px; /* Baja los componentes 100px */
  }
  .custom-text{
    font-size: 80px; /* Tamaño de fuente aumentado */
    font-family: 'Arial Black', sans-serif;
    text-align: center; /* Texto centrado */
    margin-top: 50px; /* Margen superior */
  }
  .custom-card1
  {
    background-color: #01a9a3; /* Color de fondo */
    border-radius: 10px; /* Bordes redondeados */
    width: 400px; /* Ancho aumentado */
    height: 100px; /* Alto aumentado */
    margin: 30px auto; /* Centrado y margen */
    font-size: 40px; /* Tamaño de fuente aumentado */
    font-family: 'Arial Black', sans-serif;
    text-align: center; /* Texto centrado */
    display: flex;
    align-items: center;
    justify-content: center;
    top: -130px;
    left: -300px;
  }
  .custom-card2
  {
    background-color: #01a9a3; /* Color de fondo */
    border-radius: 10px; /* Bordes redondeados */
    width: 400px; /* Ancho aumentado */
    height: 100px; /* Alto aumentado */
    margin: 30px auto; /* Centrado y margen */
    font-size: 40px; /* Tamaño de fuente aumentado */
    font-family: 'Arial Black', sans-serif;
    text-align: center; /* Texto centrado */
    display: flex;
    align-items: center;
    justify-content: center;
    top: -260px;
    left: 120px;
  } 
  .custom-card3
  {
    background-color: #01a9a3; /* Color de fondo */
    border-radius: 10px; /* Bordes redondeados */
    width: 380px; /* Ancho aumentado */
    height: 100px; /* Alto aumentado */
    margin: 30px auto; /* Centrado y margen */
    font-size: 40px; /* Tamaño de fuente aumentado */
    font-family: 'Arial Black', sans-serif;
    text-align: center; /* Texto centrado */
    display: flex;
    align-items: center;
    justify-content: center;
    top:  -390px;
    left: 520px;
  }
   .custom-card4
   {
    position: absolute;
    background-color: #ff0202; /* Color rojo para UCI */  
    border-radius: 10px; /* Bordes redondeados */
    width: 380px; /* Ancho aumentado */
    height: 100px; /* Alto aumentado */
    margin: 30px auto; /* Centrado y margen */
    font-size: 40px; /* Tamaño de fuente aumentado */
    font-family: 'Arial Black', sans-serif;
    text-align: center; /* Texto centrado */
    display: flex;
    align-items: center;
    justify-content: center;
    top:  400px;
    left: 230px;  
  
   }
  .custom-cardJuridoco
  {
    position: absolute;
    background-color: #22cf16; /* Color verde para Quirurgico */
    border-radius: 10px; /* Bordes redondeados */
    width: 380px; /* Ancho aumentado */
    height: 100px; /* Alto aumentado */
    margin: 30px auto; /* Centrado y margen */
    font-size: 40px; /* Tamaño de fuente aumentado */
    font-family: 'Arial Black', sans-serif;
    text-align: center; /* Texto centrado */
    display: flex;
    align-items: center;
    justify-content: center;
    top:  800px;
    left: 230px;  
  } 
  .custom-cardEngorde
  {
   position: absolute;
    background-color: #066c74; /* Color azul oscuro para Engorde */
    border-radius: 10px;
    width: 380px; /* Ancho aumentado */
    height: 100px; /* Alto aumentado */
    margin: 30px auto; /* Centrado y margen */
    font-size: 40px; /* Tamaño de fuente aumentado */
    font-family: 'Arial Black', sans-serif;
    text-align: center; /* Texto centrado */
    display: flex;
    align-items: center;
    justify-content: center;
    top:  1200px;
    left: 230px;  
  }
  .custom-cardIntermedio {
    position: absolute;
    background-color: #a25008; /* Color naranja para Intermedio */
    border-radius: 10px;
    width: 380px; /* Ancho aumentado */
    height: 100px; /* Alto aumentado */
    margin: 30px auto; /* Centrado y margen */
    font-size: 40px; /* Tamaño de fuente aumentado */
    font-family: 'Arial Black', sans-serif;
    text-align: center; /* Texto centrado */
    display: flex;
    align-items: center;
    justify-content: center;
    top:  1600px;
    left: 230px;
  }
  
  /* Estilos para botones */
  .custom-button
  {
    position: absolute; /* Asegura que no se muevan con el margen */
    width: 400px; /* Ancho aumentado */
    height: 80px; /* Alto aumentado */
    font-size: 30px; /* Tamaño de fuente aumentado */
    margin: 20px; /* Margen aumentado */
    border-radius: 10px; /* Bordes redondeados */
    font-family: 'Arial Black', sans-serif;
    margin-top: -200px;
    margin-left: 630px;
  } 
  .custom-button1
  {
    position: absolute; /* Asegura que no se muevan con el margen */
    width: 400px; /* Ancho aumentado */
    height: 80px; /* Alto aumentado */
    font-size: 30px; /* Tamaño de fuente aumentado */
    margin: 20px; /* Margen aumentado */
    border-radius: 10px; /* Bordes redondeados */
    font-family: 'Arial Black', sans-serif;
    margin-top: -200px;
    margin-left: 1030px;
  } 
  .custom-button3
  {
    position: absolute; /* Asegura que no se muevan con el margen */
    width: 400px; /* Ancho aumentado */
    height: 80px; /* Alto aumentado */
    font-size: 30px; /* Tamaño de fuente aumentado */
    margin: 20px; /* Margen aumentado */
    border-radius: 10px; /* Bordes redondeados */
    font-family: 'Arial Black', sans-serif;
    margin-top: -100px;
    margin-left: 630px; 
  } .custom-button4
  {
    position: absolute; /* Asegura que no se muevan con el margen */
    width: 400px; /* Ancho aumentado */
    height: 80px; /* Alto aumentado */
    font-size: 30px; /* Tamaño de fuente aumentado */
    margin: 20px; /* Margen aumentado */
    border-radius: 10px; /* Bordes redondeados */
    font-family: 'Arial Black', sans-serif;
    margin-top: -100px;
    margin-left: 1030px;
  }
  .custom-button-juridico
  {
    position: absolute; /* Asegura que no se muevan con el margen */
    width: 400px; /* Ancho aumentado */
    height: 80px; /* Alto aumentado */
    font-size: 30px; /* Tamaño de fuente aumentado */
    margin: 20px; /* Margen aumentado */
    border-radius: 10px; /* Bordes redondeados */
    font-family: 'Arial Black', sans-serif;
    margin-top: 200px;
    margin-left: 630px;
  }
  .custom-button3-juridico
  {
    position: absolute; /* Asegura que no se muevan con el margen */
    width: 400px; /* Ancho aumentado */
    height: 80px; /* Alto aumentado */
    font-size: 30px; /* Tamaño de fuente aumentado */
    margin: 20px; /* Margen aumentado */
    border-radius: 10px; /* Bordes redondeados */
    font-family: 'Arial Black', sans-serif;
    margin-top: 300px;
    margin-left: 630px;
  }
  .custom-button1-juridico
  {
    position: absolute; /* Asegura que no se muevan con el margen */
    background-color: #fff; /* Fondo blanco */
    color: #fad000; /* Texto amarillo */
    border: 5px solid #fff700; /* Borde amarillo */ 
    width: 400px; /* Ancho aumentado */
    height: 80px; /* Alto aumentado */
    font-size: 30px; /* Tamaño de fuente aumentado */
    margin: 20px; /* Margen aumentado */
    border-radius: 10px; /* Bordes redondeados */
    font-family: 'Arial Black', sans-serif;
    margin-top: 200px;
    margin-left: 1030px;
  } .custom-button4-juridico
  {
    position: absolute; /* Asegura que no se muevan con el margen */
    background-color: #fff; /* Fondo blanco */
    color: #fad000; /* Texto amarillo */
    border: 5px solid #fff700; /* Borde amarillo */ 
    width: 400px; /* Ancho aumentado */
    height: 80px; /* Alto aumentado */
    font-size: 30px; /* Tamaño de fuente aumentado */
    margin: 20px; /* Margen aumentado */
    border-radius: 10px; /* Bordes redondeados */
    font-family: 'Arial Black', sans-serif;
    margin-top: 300px;
    margin-left: 1030px;
  }
  .custom-button-engorde
  {
    position: absolute; /* Asegura que no se muevan con el margen */
      width: 400px; /* Ancho aumentado */
      height: 80px; /* Alto aumentado */
      font-size: 30px; /* Tamaño de fuente aumentado */
      margin: 20px; /* Margen aumentado */
      border-radius: 10px; /* Bordes redondeados */
      font-family: 'Arial Black', sans-serif;
      margin-top: 600px;
      margin-left: 620px;
  } 
  .custom-button3-engorde{
    position: absolute; /* Asegura que no se muevan con el margen */
    width: 400px; /* Ancho aumentado */
    height: 80px; /* Alto aumentado */
    font-size: 30px; /* Tamaño de fuente aumentado */
    margin: 20px; /* Margen aumentado */
    border-radius: 10px; /* Bordes redondeados */
    font-family: 'Arial Black', sans-serif;
    margin-top: 700px;
    margin-left: 620px;
  }
  .custom-button1-engorde
  {
    width: 400px; /* Ancho aumentado */
    position: absolute; /* Asegura que no se muevan con el margen */
    height: 80px; /* Alto aumentado */
    font-size: 30px; /* Tamaño de fuente aumentado */
    margin: 20px; /* Margen aumentado */
    border-radius: 10px; /* Bordes redondeados */
    font-family: 'Arial Black', sans-serif;
    margin-top: 600px;
    margin-left: 1030px;   
  } 
  .custom-button4-engorde
  {
    position: absolute; /* Asegura que no se muevan con el margen */
    width: 400px; /* Ancho aumentado */
    height: 80px; /* Alto aumentado */
    font-size: 30px; /* Tamaño de fuente aumentado */
    margin: 20px; /* Margen aumentado */
    border-radius: 10px; /* Bordes redondeados */
    font-family: 'Arial Black', sans-serif;
    margin-top:  700px;
    margin-left: 1030px
  }
  .custom-button-intermedio
  {
    position: absolute; /* Asegura que no se muevan con el margen */
    width: 400px; /* Ancho aumentado */
    height: 80px; /* Alto aumentado */
    font-size: 30px; /* Tamaño de fuente aumentado */
    margin: 20px; /* Margen aumentado */
    border-radius: 10px; /* Bordes redondeados */
    font-family: 'Arial Black', sans-serif;
    margin-top: 1000px;
    margin-left: 620px;
  } 
  .custom-button3-intermedio
  {
    position: absolute; /* Asegura que no se muevan con el margen */
    width: 400px; /* Ancho aumentado */
    height: 80px; /* Alto aumentado */
    font-size: 30px; /* Tamaño de fuente aumentado */
    margin: 20px; /* Margen aumentado */
    border-radius: 10px; /* Bordes redondeados */
    font-family: 'Arial Black', sans-serif;
    margin-top: 1100px;
    margin-left: 620px;
  }
  .custom-button1-intermedio
  {
    position: absolute; /* Asegura que no se muevan con el margen */
    width: 400px; /* Ancho aumentado */
    height: 80px; /* Alto aumentado */
    font-size: 30px; /* Tamaño de fuente aumentado */
    margin: 20px; /* Margen aumentado */
    border-radius: 10px; /* Bordes redondeados */
    font-family: 'Arial Black', sans-serif;
    margin-top: 1000px;
    margin-left: 1030px;
  }
  .custom-button4-intermedio {
    position: absolute; /* Asegura que no se muevan con el margen */
    width: 400px; /* Ancho aumentado */
    height: 80px; /* Alto aumentado */
    font-size: 30px; /* Tamaño de fuente aumentado */
    margin: 20px; /* Margen aumentado */
    border-radius: 10px; /* Bordes redondeados */
    font-family: 'Arial Black', sans-serif;
    margin-top: 1100px;
    margin-left: 1030px;
  }
  
  .custom-button, .custom-button3, .custom-button-juridico, .custom-button3-juridico,
  .custom-button-engorde, .custom-button3-engorde, .custom-button-intermedio, .custom-button3-intermedio {
    background-color: #fad000; /* Color amarillo */
    color: #fff; /* Texto blanco */
  }
  
  .custom-button1, .custom-button4,
  .custom-button1-engorde, .custom-button4-engorde, .custom-button1-intermedio, .custom-button4-intermedio {
    background-color: #fff; /* Fondo blanco */
    color: #fad000; /* Texto amarillo */
    border: 5px solid #fff700; /* Borde amarillo */
  }

  /* Estilos para inputs */
ion-input {
    position: absolute;
    width: 300px;
    height: 70px;
    font-size: 25px;
    border: 3px solid #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    font-family: 'Arial Black', sans-serif;
  }
  
  .custom-input1 {
    position: absolute;
    margin-top: -200px;
    margin-left: 0px;
    width: 230px;
  }
  
  .custom-input2 {
    position: absolute;
    margin-top: -100px;
    margin-left: 0px;
    width: 230px;
  }
  
  .custom-input3 {
    position: absolute;
    margin-top: -200px;
    margin-left: 240px;
    width: 380px;
  }
  
  .custom-input4 {
    position: absolute;
    margin-top: -100px;
    margin-left: 240px;
    width: 380px;
  }
  
  .custom-input5 {
    position: absolute;
    margin-top: 200px;
    margin-left: 0px;
    width: 230px;
  }
  
  .custom-input6 {
    position: absolute;
    margin-top: 300px;
    margin-left: 0px;
    width: 230px;
  }
  
  .custom-input7 {
    position: absolute;
    margin-top: 200px;
    margin-left: 240px;
    width: 380px;
  }
  
  .custom-input8 {
    position: absolute;
    margin-top: 300px;
    margin-left: 240px;
    width: 380px;
  }
  .custom-input9 {
    position: absolute;
    margin-top: 600px;
    margin-left: 0px;
    width: 230px;
  }
  
  .custom-input10 {
    position: absolute;
    margin-top: 700px;
    margin-left: 0px;
    width: 230px;
  }
  
  .custom-input11 {
    position: absolute;
    margin-top: 600px;
    margin-left: 240px;
    width: 380px;
  }
  
  .custom-input12 {
    position: absolute;
    margin-top: 700px;
    margin-left: 240px;
    width: 380px;
  }
  
  .custom-input13 {
    position: absolute;
    margin-top: 1000px;
    margin-left: 0px;
    width: 230px;
  }
  
  .custom-input14 {
    position: absolute;
    margin-top: 1100px;
    margin-left: 0px;
    width: 230px;
  }
  
  .custom-input15 {
    position: absolute;
    margin-top: 1000px;
    margin-left: 240px;
    width: 380px;
  }
  
  .custom-input16 {
    position: absolute;
    margin-top: 1100px;
    margin-left: 240px;
    width: 380px;
  }