<ion-content>
  <div class="contenedor">
    <!-- Título centrado en la parte superior -->
    <h1 class="titulo">LECHES DISPONIBLES</h1>

    <div class="imagen-container">
      <img src="assets/imabanco.jpg" alt="Imagen centrada" class="imagen-centrada" />

      <!-- Contenedor de las tablas de leches -->
       <div class="tablas-container">
        <div *ngFor="let leche of leches" class="tipo-leche-container">
          <h2 class="tipo-leche-titulo">{{ leche.tipo }}</h2>
          <div class="leches-container">
            <div *ngFor="let tipoCalorico of leche.tiposCaloricos" class="leche-tipo">
              <h3 class="tipo-calorico-titulo">{{ tipoCalorico.calorico }}</h3>
              <table>
                <thead>
                  <tr>
                    <th>CODIGO</th>
                    <th>CANTIDAD ml</th>
                    <th>KCAL</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of tipoCalorico.leches">
                    <td>{{ item.codigo }}</td>
                    <td>{{ item.cantidad }}</td>
                    <td>{{ item.kcal }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
       </div>
    </div>

    

    <!-- Botón regresar en la parte inferior -->
    <ion-button expand="block" color="rojo" size="large" class="boton-regresar" (click)="regresar()">
      Regresar
    </ion-button>
  </div>
</ion-content>