<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="custom-text">Registro_madre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="background-container"></div>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="custom-text">Registro_madre</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Formulario de Registro de Madre -->
<form>
  <!-- Primera fila: DNI -->
  <div class="row">
      <div class="col">
          <label for="dni">DNI</label>
          <input type="text" id="dni">
      </div>
  </div>

  <!-- Segunda fila: Nombre, Apellido Paterno, Apellido Materno -->
  <div class="row">
      <div class="col">
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre">
      </div>
      <div class="col">
          <label for="apellidoPaterno">Apellido Paterno</label>
          <input type="text" id="apellidoPaterno">
      </div>
      <div class="col">
          <label for="apellidoMaterno">Apellido Materno</label>
          <input type="text" id="apellidoMaterno">
      </div>
  </div>

  <!-- Tercera fila: Fecha de Nacimiento, Teléfono, Talla -->
  <div class="row">
      <div class="col">
          <label for="fechaNacimiento">Fecha de Nacimiento</label>
          <input type="date" id="fechaNacimiento">
      </div>
      <div class="col">
          <label for="telefono">Teléfono</label>
          <input type="text" id="telefono">
      </div>
      <div class="col">
          <label for="talla">Talla</label>
          <input type="text" id="talla">
      </div>
  </div>

  <!-- Cuarta fila: Departamento, Provincia, Distrito -->
  <div class="row">
      <div class="col">
          <label for="departamento">Departamento</label>
          <input type="text" id="departamento">
      </div>
      <div class="col">
          <label for="provincia">Provincia</label>
          <input type="text" id="provincia">
      </div>
      <div class="col">
          <label for="distrito">Distrito</label>
          <input type="text" id="distrito">
      </div>
  </div>

  <!-- Quinta fila: Dirección (Una sola columna) -->
  <div class="row">
      <div class="col">
          <label for="direccion">Dirección</label>
          <input type="text" id="direccion">
      </div>
  </div>

  <!-- Sexta fila: Centro de Salud de Procedencia, Número de Controles -->
  <div class="row">
      <div class="col">
          <label for="centroSalud">Centro de Salud de Procedencia</label>
          <input type="text" id="centroSalud">
      </div>
      <div class="col">
          <label for="numControles">Número de Controles</label>
          <input type="text" id="numControles">
      </div>
  </div>

  <!-- Séptima fila: Ocupación, Peso Inicial, Peso Final -->
  <div class="row">
      <div class="col">
          <label for="ocupacion">Ocupación</label>
          <input type="text" id="ocupacion">
      </div>
      <div class="col">
          <label for="pesoInicial">Peso Inicial</label>
          <input type="text" id="pesoInicial">
      </div>
      <div class="col">
          <label for="pesoFinal">Peso Final</label>
          <input type="text" id="pesoFinal">
      </div>
  </div>
  <div class="row">
      <div class="col">
          <label for="transfusion">Transfusión de Sangre</label>
              <input type="radio" name="transfusion" value="si"> 
              <label for="si" class ="radio-label">Si</label>
              <input type="radio" name="transfusion" value="no">
              <label for="si" class ="radio-label">No</label>
      </div>
      

    <div class="col">
      <label for="cigarros">Consumo de Cigarros</label>
          <input type="radio" name="cigarros" value="si"> 
          <label for="si" class ="radio-label">Si</label>
          <input type="radio" name="cigarros" value="no"> 
          <label for="si" class ="radio-label">No</label>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="drogas">Consumo de Drogas</label>
          <input type="radio" name="drogas" value="si">
          <label for="si" class ="radio-label">Si</label>
          <input type="radio" name="drogas" value="no"> 
          <label for="si" class ="radio-label">No</label>
    </div>
    <div class="col">
      <label for="medicamentos">Consumo de Medicamentos</label>
          <input type="radio" name="medicamentos" value="si"> 
          <label for="si" class ="radio-label">Si</label>
          <input type="radio" name="medicamentos" value="no"> 
          <label for="si" class ="radio-label">No</label>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="enfermedades">Enfermedades</label>
          
    </div>
    <div class="col">
      <input type="radio" name="enfermedades" value="positivo"> 
      <label for="si" class ="radio-label">Positivo</label>
      <input type="radio" name="enfermedades" value="negativo"> 
      <label for="si" class ="radio-label">Negativo</label>
      <input type="radio" name="enfermedades" value="nose"> 
      <label for="si" class ="radio-label">No se Sabe</label>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="serologicos">Prueba Serológicos</label>
    </div>
    <div class="col">
          <input type="radio" name="serologicos" value="positivo"> 
          <label for="si" class ="radio-label">Positivo</label>
          <input type="radio" name="serologicos" value="negativo"> 
          <label for="si" class ="radio-label">Negativo</label>
          <input type="radio" name="serologicos" value="nose"> 
          <label for="si" class ="radio-label">No se Sabe</label>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="sifilis">Prueba Sífilis</label>
    </div>
    <div class="col">
          <input type="radio" name="sifilis" value="positivo"> 
          <label for="si" class ="radio-label">Positivo</label>
          <input type="radio" name="sifilis" value="negativo"> 
          <label for="si" class ="radio-label">Negativo</label>
          <input type="radio" name="sifilis" value="nose">
          <label for="si" class ="radio-label">No se Sabe</label>
    </div>
  </div>  
  <div class="row">
    <div class="col">
      <label for="hepatitis">Prueba Hepatitis</label>
    </div>
    <div class="col">
          <input type="radio" name="hepatitis" value="positivo"> 
          <label for="si" class ="radio-label">Positivo</label>
          <input type="radio" name="hepatitis" value="negativo"> 
          <label for="si" class ="radio-label">Negativo</label>
          <input type="radio" name="hepatitis" value="nose"> 
          <label for="si" class ="radio-label">No se Sabe</label>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="vih">Prueba VIH</label>
          
    </div>
    <div class="col">
          <input type="radio" name="vih" value="positivo"> 
          <label for="si" class ="radio-label">Positivo</label>
          <input type="radio" name="vih" value="negativo">
          <label for="si" class ="radio-label">Negativo</label>
          <input type="radio" name="vih" value="nose"> 
          <label for="si" class ="radio-label">No se Sabe</label>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="hemoglobinas">Hemoglobinas:</label>
    </div>
    <div class="col">
          <input type="radio" name="hemoglobinas" value="positivo"> 
          <label for="si" class ="radio-label">Positivo</label>
          <input type="radio" name="hemoglobinas" value="negativo">
          <label for="si" class ="radio-label">Negativo</label>
          <input type="radio" name="hemoglobinas" value="nose"> 
          <label for="si" class ="radio-label">No se Sabe</label>
    </div>
  </div>
  <div class="row">
  <div class="col">
      <label for="enfermedadActual">Enfermedad Actual</label>
      </div>
      <div class="col">
          <input type="text" id="enfermedadActual">
      </div>
  </div>
 
      <div class="row">
          <div class="col">
              <label for="aptaparadonar" style="font-size: 50px;">¿Está apta donar?:</label>
          </div>
          <div class="col">
              <input type="radio" name="aptaparadonar" value="si"> 
              <label for="si" class ="radio-label">Si</label>
              <input type="radio" name="aptaparadonar" value="no"> 
              <label for="si" class ="radio-label">No</label>
          </div>
      </div>
      <div>
        <input type="file" (change)="capturarFile($event)" accept="image/*">
      </div>
      
      <div *ngIf="previsualizacion">
        <p>Vista previa:</p>
        <img [src]="previsualizacion" alt="Vista previa" style="max-width: 200px; max-height: 200px;">
      </div>
      <div class="row" style="width: 1000px;">
          <div class="col">
         +    <button type="submit" (click)="subirArchivo()">REGISTRAR</button>
          </div>
          <div class="col">
            <button type="button" (click)="goBack()">REGRESAR</button>
          </div>
      </div>
</form>
</ion-content>
