<html lang="es">

<head>
    <link rel="stylesheet" href="registro-madre.page.scss">
</head>

<body>
    <form>
        <h2>Reporte por Paciente</h2>
        <div class="row">
            <label for="codigo">Código:</label>
            <span id="codigo">12345</span>
        </div>
        <div class="row">
            <label for="nombre">Nombre:</label>
            <span id="nombre">Juan</span>
        </div>

        <div class="row">
            <label for="apellidos">Apellidos:</label>
            <span id="apellidos">Pérez Gómez</span>
        </div>
        <div class="row">
            <label for="numero-cuna">Número de cuna:</label>
            <span id="numero-cuna">A-12</span>
        </div>
        <div class="row">
            <label for="diagnostico">Diagnóstico personal:</label>
            <span id="diagnostico">Fiebre y tos</span>
        </div>
        <div class="row">
            <legend>Distribución de Diagnósticos</legend>
            <canvas id="graficoDiagnosticos"></canvas>
        </div>
        <div class="buttons">
            <button type="button" class="back-btn">Regresar</button>
        </div>
    </form>
</body>

</html>