
<ion-content>
  <div class="contenedor">
    <h1 class="titulo">ALERTAS</h1>

    <div class="imagen-container">
      <img src="assets/imabanco.jpg" alt="Imagen centrada" class="imagen-centrada" />

      <div class="busqueda">
        <ion-grid>
          <ion-row>
            <ion-col>DNI:</ion-col>
            <ion-col><ion-input placeholder="Buscar"></ion-input></ion-col>
          </ion-row>
        </ion-grid>

      </div>

      <div class="tablas-container">
        <ion-row *ngFor="let alerta of alertas; let i = index">
          <ion-col>{{ i + 1 }}</ion-col>
          <ion-col>{{ alerta.tipo }}</ion-col>
          <ion-col>{{ alerta.emergencia }}</ion-col>
          <ion-col>{{ alerta.cantidad }}</ion-col>
          <ion-col>{{ alerta.estado }}</ion-col>
          <ion-col>
            <ion-button *ngIf="alerta.estado === 'PENDIENTE'" (click)="navegarA('detallespedido', i)">Pendiente</ion-button>
            <ion-button *ngIf="alerta.estado === 'LISTO'" (click)="navegarA('detallespedidovista', i)">Listo</ion-button>
            <ion-button *ngIf="alerta.estado === 'ENTREGADO'" disabled>Entregado</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </div>
    
  </div>

</ion-content>