ion-grid {
    padding: 16px;
  }
  
  ion-row {
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
  }
  
  ion-col {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  ion-button {
    font-size: 0.8em;
  }