<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>

    <!-- Contenedor para centrar o posicionar la imagen -->
    <div class="image-container">
      <img src="../../assets/icon/registro.png" alt="Registro Exitoso" class="custom-image">
    </div>
    <ion-button class="custom-button" [routerLink]="['/pacientes1']"color="fff"> Salir </ion-button>
  
</ion-content> 
