/* filepath: /c:/Users/Ricardo/Front_Banco/src/app/pase-de-visita/pase-de-visita.page.scss */
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8%;
    text-align: center;
    font-size: 80px;
  }
  .custom-title {
    font-size: 50px; /* Cambia el tamaño de la fuente según sea necesario */
    font-family: 'Arial Black', sans-serif; /* Cambia el tipo de letra según sea necesario */
  }
  .fecha-title {
    font-size: 30px; /* Cambia el tamaño de la fuente según sea necesario */
    font-family: 'Arial', sans-serif; /* Cambia el tipo de letra según sea necesario */
    text-align: center; /* Centra el texto */
    margin-top: 80px; /* Ajusta el margen superior según sea necesario */
    margin-left: -400px;
    
  }